<!DOCTYPE html>
<html data-ng-app="GameOfLife">
	<head>
		<title>Game of Life</title>
		<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="/app/scripts/app.js"></script>
	</head>
	<body data-ng-controller="GameOfLifeController">
		Width<input type="number" data-ng-model="width"/>
		Height<input type="number" data-ng-model="height"/>
		<button type="button" data-ng-click="startStop()">{{state}}</button>
		<button type="button" data-ng-click="step()">Step</button>
		<table>
			<tr data-ng-repeat="column in board track by $index">
				<td data-ng-repeat="cell in column track by $index">a</td>
			</tr>
		</table>
	</body>
</html>